html, body {
  height: 100%;
  overflow: hidden;
  position: relative;
}
body {
  perspective: -1000px;
}
#start {
  font-size: 3em;
  position: relative;
  z-index: 2;
}
.scene {
  position: relative;
  height: 100%;
  width: 100%;
}
.cube-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  position: absolute;
  z-index: -1;
}
.first_side,
.second_side,
.third_side,
.fourth_side,
.fifth_side,
.sixth_side {
  height: 480px;
  width: 480px;
  position: absolute;
  background-color: rgba(34, 91, 183,0.6);
  border: 4px solid #282b30;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}
.first_side {
  transform: rotateX(0deg) translateZ(144px) scale3d(0.6,0.6,0.6);
}
.second_side {
  transform: rotateY(90deg) translateZ(144px) scale3d(0.6,0.6,0.6);
}
.third_side {
  transform: rotateX(180deg) translateZ(144px) scale3d(0.6,0.6,0.6);
}
.fourth_side {
  transform: rotateY(-90deg) translateZ(144px) scale3d(0.6,0.6,0.6);
}
.fifth_side {
  transform: rotateX(90deg) translateZ(144px) scale3d(0.6,0.6,0.6);
}
.sixth_side {
  transform: rotateX(-90deg) translateZ(144px) scale3d(0.6,0.6,0.6);
}
.cube-container {
  transform: rotateX(45deg) rotateY(45deg);
}
